@model ShiftManagement.Models.ShiftSchedule
@{
    ViewData["Title"] = "Удалить смену";
}

<div class="row">
    <div class="col-md-6">
        <h3>Вы уверены, что хотите удалить эту смену?</h3>
        <div>
            <dt class="col-sm-2">Сотрудник</dt>
            <dd class="col-sm-10">@Model.Employee?.FirstName @Model.Employee?.LastName</dd>
            <dt class="col-sm-2">Дата</dt>
            <dd class="col-sm-10">@Model.ShiftDate.ToShortDateString()</dd>
            <dt class="col-sm-2">Время</dt>
            <dd class="col-sm-10">@Model.StartTime.ToString("hh\\:mm") - @Model.EndTime.ToString("hh\\:mm")</dd>
        </div>
        <form asp-action="DeleteConfirmed" method="post">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a asp-action="Index" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>
